!#include "/home/nk404/.cli_colors/simple_rainbow"

#define bgColor #1d2021
#define fgColor #ebdbb2

*background:  bgColor
*foreground:  fgColor
*fading:      100
*fadeColor:   bgColor

*color0:	#282828
*color8:	#928374

*color1:	#cc241d
*color9:	#fb4934

*color2:	#98971a
*color10:	#b8bb26

*color3:	#d79921
*color11:	#fabd2f

*color4:	#458588
*color12:	#83a598

*color5:	#b16286
*color13:	#d3869b

*color6:	#689d6a
*color14:	#8ec07c

*color7:	#a89984
*color15:	#ebdbb2


!! Xft
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

! URXVT
URxvt*saveLines:0k

URxvt*font: xft:terminus:size=10

!!!!!!!!!!!!!!!!!!! ROFI !!!!!!!!!!!!!!!!!!!!
!rofi.opacity:                        80
!rofi.width:                          50
!rofi.lines:                          15
!rofi.columns:                        1
!rofi.color-normal:                   #212121,#1793d1,#212121,#586e75,#eee8d5
!rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
!rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
!rofi.color-window:                   #212121,#002b36
!rofi.padding:                        150
!rofi.regex:                          true
!rofi.separator-style:                none
!rofi.fullscreen:                     false
!rofi.threads:                        2
!rofi.modi:                           run
!rofi.opacity:                        80
rofi.width:                          1366
rofi.lines:                          20
!rofi.columns:                        20
rofi.font:                           xft:Terminus:size=12
rofi.color-normal:                   #212121,#1793d1,#212121,#586e75,#eee8d5
!rofi.bw:                             0
!rofi.location:                       0
!rofi.terminal:                       termite
!rofi.eh:                             10
!rofi.regex:                          true
!rofi.fullscreen:                     true
!rofi.fake-transparency:              false
!rofi.threads:                        1

